


<%- include('./partials/head/head.ejs') %>


<!-- <%- include('./partials/header/header.ejs') %> -->

    

        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <% if (error) { %>
                        <span class="text-danger fw-bold" id="error"><%= error %></span>
                        
                    <% } %>
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form action="/admin/login" method="post">
                        <div class="mb-3">
                            <input class="form-control" placeholder=" email" type="email" name="email">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" name="password">
                        </div> <!-- form-group// -->
                         <!-- form-group form-check .// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                    <p class="text-center small text-muted mb-15"></p>
                    
                    <p class="text-center mb-4"><a href="#"></a></p>
                </div>
            </div>
        </section>
        <%- include('./partials/footer/footer.ejs') %>
        <script>
            reload()
            const errMsg = document.getElementById('error')
            function reload(){
                setTimeout(()=>{
                    errMsg.innerHTML = ''
                },3000)
            }
        </script>
   
