<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- Start Breadcrumb Section -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
      <div class="breadcrumb-wrapper">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <h3 class="breadcrumb-title">Account</h3>
                      <div
                          class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                          <nav aria-label="breadcrumb">
                              <ul>
                                  <li><a href="/">Home</a></li>
                                  <li><a href="/products">Shop</a></li>
                                  <li class="active" aria-current="page">Account</li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- End Breadcrumb Section -->

    <!-- Start Account Section -->
    <div class="container my-5">
        <div class="row gy-4">
            <div class="col-md-4">
                <div class="card text-center">
                    <a href="/profile">
                        <img src="/accountImages/profile.jpg" class="card-img-top mx-auto" alt="Profile" style="height: 100px; width: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Profile</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <a href="/userAddress">
                        <img src="/accountImages/address.jpg" class="card-img-top mx-auto" alt="Address" style="height: 100px; width: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Address</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <a href="/changepassword">
                        <img src="/accountImages/password.jpg" class="card-img-top mx-auto" alt="Password" style="height: 100px; width: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Password</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <a href="/ordersHistory">
                        <img src="/accountImages/order.jpg" class="card-img-top mx-auto" alt="Order" style="height: 100px; width: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Order</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <a href="/wallet">
                        <img src="/accountImages/wallet.jpg" class="card-img-top mx-auto" alt="Wallet" style="height: 100px; width: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Wallet</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <a href="/cartpage">
                        <img src="/accountImages/cart.jpg" class="card-img-top mx-auto" alt="Cart" style="height: 100px; width: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Cart</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- End Account Section -->

    <%- include('../partials/footer') %>

    <script>
        setTimeout(function() {
            const errMsg = document.querySelectorAll('.error-message');
            errMsg.forEach(function(message) {
                message.innerHTML = '';
            });
        }, 4000);
    </script>
</body>

</html>
