<%- include('../partials/head') %>

<body>
 <%# include('../partials/header') %>
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section"  style="background-image: url(https://www.oneplus.in/content/dam/oasis/page/2024/in/home/benz/3_Benz-desktop.jpg.thumb.webp);background-size:cover">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Reset Password</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!-- <li><a href="shop-grid-sidebar-left.html">Shop</a></li> -->
                                    <li class="active" aria-current="page">Reset Password</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div id="login-start" class="col-lg-6 col-md-6 text-center"> <!-- Added text-center class here -->
                    <div class="account_form mx-auto" data-aos="fade-up" data-aos-delay="0">
                       
                        <h3>Reset Password</h3>
						<form action="/resetPasswordPost" method="post">
						<div class="form-group">
							<label>password <span>*</span></label>
						  <input id="password-field" type="password" class="form-control"  name="password" placeholder="Password" required>
						</div>
						<br>
						<div class="form-group">
							<label>conform 	Password <span>*</span></label>
							
							<input id="password-field" type="password" class="form-control"   placeholder="conform 	Password" required>
						  </div>
						  <br>
					   
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">submit</button>
						</div>
					   
						</div>   
					  </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
    
    
    
    

    <%- include('../partials/footer') %>
    <script>
   setTimeout(function() {
  const errMsg = document.querySelectorAll('.error-message');
  errMsg.forEach(function(message) {
    message.innerHTML = '';
  });
}, 4000);

    </script>
   
</body>


</html>