<%- include('../partials/head') %>

<body>
 <%# include('../partials/header') %>
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section"  style="background-image: url(https://www.oneplus.in/content/dam/oasis/page/2024/in/home/benz/3_Benz-desktop.jpg.thumb.webp);background-size:cover">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Email verification</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!-- <li><a href="shop-grid-sidebar-left.html">Shop</a></li> -->
                                    <li class="active" aria-current="page">Email verification</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div id="login-start" class="col-lg-6 col-md-6 text-center"> <!-- Added text-center class here -->
                    <div class="account_form mx-auto" data-aos="fade-up" data-aos-delay="0">
                       
                        <h3>Email verification</h3>
						<form action="/user_forgotpasswordPost" class="email-form" method="post">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="enter email" name="email" required>
							</div>
							<br>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
	            </div>
	           
	            </div>
	          </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
    
    
    
    

    <%- include('../partials/footer') %>