<%- include('../partials/head') %>

<body>
 <%# include('../partials/header') %>
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section"  style="background-image: url(/productsImages/image-1716997441769-355989791.webp);background-size:cover">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Login</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!-- <li><a href="shop-grid-sidebar-left.html">Shop</a></li> -->
                                    <li class="active" aria-current="page">Login</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div id="login-start" class="col-lg-6 col-md-6 text-center"> <!-- Added text-center class here -->
                    <div class="account_form mx-auto" data-aos="fade-up" data-aos-delay="0">
                        
                        <h3>login</h3>
                        <form id="formData" action="/login" method="POST">
                            <div class="default-form-box">
                                <label>Username or email <span>*</span></label>
                                <input type="email" class="form-control" placeholder="email" name="email">
                            </div>
                           
                            <div class="default-form-box">
                                <label>Passwords <span>*</span></label>
                                <input type="password" class="form-control"  name="password" placeholder="Password">
                            </div>
                            
                            
                            
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover mb-4" type="submit" style="margin: 0 auto">login</button>
                               
                                
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <a href="/auth/auth/google" class="btn btn-dark btn-block font-sm" style="text-decoration: none; color: aliceblue;">
                                        <svg aria-hidden="true" class="icon-svg" width="20" height="20" viewBox="0 0 20 20">
                                            <path
                                                d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z"
                                                fill="#4285F4"></path>
                                            <path
                                                d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z"
                                                fill="#34A853"></path>
                                            <path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z"
                                                fill="#FBBC05">
                                            </path>
                                            <path
                                                d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z"
                                                fill="#EA4335"></path>
                                        </svg> Continue Using Google
                                    </a>
                                </div>
                            </div> <br>
                            <div class="login_submit">
                                
                               
                                <a style="color: black;" href="/user_forgotpassword">Lost your password?</a><br>
                                <a style="color: black;" href="/signup"> you have an account? press Me</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area end-->
    
                <!--register area start-->
                <!-- <div class="col-lg-6 col-md-6">
                    <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                        <h3>Register</h3>
                        <form action="#">
                            <div class="default-form-box">
                                <label>Email address <span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="default-form-box">
                                <label>Passwords <span>*</span></label>
                                <input type="password">
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover" type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div> -->
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
    
    
    
    

    <%- include('../partials/footer') %>
    <script src="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css
" rel="stylesheet">
<script>
    const form = document.getElementById("formData");
    form.addEventListener('submit', function (event) {
            event.preventDefault();
     const formData = new FormData(form);
    const data = {
               
                email: formData.get('email'),
                password: formData.get('password'),
               

                
            };
fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                console.log('=============');
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    console.log('2========');
                    return response.json();
                })
                .then(data => {
                    if (data.result === 'success') {
                            location.href = '/'
                        
                        // Optionally refresh the page or update the address list dynamically
                    }else if(data.error){
                        toastr.error(`${data.error}`)
                    }
                })
                
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
            });
        
</script>


    <script>
   setTimeout(function() {
  const errMsg = document.querySelectorAll('.error-message');
  errMsg.forEach(function(message) {
    message.innerHTML = '';
  });
}, 5000);

    </script>
   
</body>


</html>